<div class="container-fluid mt-4 detail-row3">
  <div class="row g-4">

    <!-- SYSTEM & PLATFORM (full-width) -->
    <div class="col-12">
      {% include "detail_row3_system_hw.html" %}
    </div>

    <!-- CPU & MEMORY DETAIL (full-width) -->
    <div class="col-12">
      {% include "detail_row3_cpu_mem.html" %}
    </div>

    <!-- NETWORK & TIME SYNC (full-width) -->
    <div class="col-12">
      {% include "detail_row3_network_time.html" %}
    </div>

    <!-- STORAGE & LVM (full-width) -->
    <div class="col-12">
      {% include "detail_row3_storage_lvm.html" %}
    </div>

    <!-- TOP PROCESSES (full-width) -->
    <div class="col-12">
      {% include "detail_row3_top_processes.html" %}
    </div>

  </div>
</div>

